<h1 mat-dialog-title>Edit user - {{ data.user.name }}</h1>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<form [formGroup]="userEditForm" (ngSubmit)="onSaveEdit()" *ngIf="!loading">
  <div mat-dialog-content class="edit-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email address"
        formControlName="email"
      /> </mat-form-field
    ><br />
    <mat-slide-toggle formControlName="admin">Admin</mat-slide-toggle>
  </div>
  <div mat-dialog-actions align="end">
    <button type="button" mat-raised-button (click)="dialogRef.close()">
      Cancel
    </button>
    <button
      type="submit"
      [disabled]="userEditForm.invalid || loading"
      mat-raised-button
      color="warn"
    >
      Save
    </button>
  </div>
</form>
