.container {
  padding-top: 10%;
}
.login-card {
  max-width: 30rem;
  margin: auto;
  text-align: center;
}
.login-card-header {
  padding-top: 5%;
  padding-bottom: 5%;
}
.login-card-button {
  width: 90%!important;
}
.login-card-forgot-password {
  padding-bottom: 2%;
  padding-right: 3%;
}
.full-width {
  width: 90%;
  margin: auto;
}
