<h1 mat-dialog-title>Invite New User</h1>
<!-- INVITATION FORM-->
<form [formGroup]="inviteUserForm" (ngSubmit)="onInviteUser()">
  <div mat-dialog-content class="invite-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Name" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email address" />
    </mat-form-field>
  </div>
  <div mat-mat-dialog-actions align="end">
    <button
      type="button"
      mat-raised-button
      [disabled]="loading"
      (click)="dialogRef.close()"
      style="margin-right: 2%;"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="inviteUserForm.invalid || loading"
    >
      {{ loading ? 'Sending..' : 'Send Invitation' }}
    </button>
    <!-- PROGRESS BAR -->
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </div>
</form>
