.container {
  width: 100%;
  height: 100%;
}
.info {
  height: 10%;
}
.calendar {
  height: 90%;
}
.reservation-list {
  height: 100%;
}
.reservations {
}
.reservation {
  background-color: red;
}
example-viewport {
  height: 20rem;
  width: 100%;
  border: 1px solid black;
}
mat-grid-tile.day {
  background: lightblue;
}
