<h5 class="week-date">
  {{ resService.formatDateToString(startingDayOfWeek) }} -
  {{ resService.formatDateToString(endingDayOfWeek) }}
</h5>
<h6 class="week-date">{{ calculateWeeksAway() }}</h6>
<div class="row">
  <button
    class="btn btn-outline-primary change-week mr-3"
    (click)="previousWeek()"
  >
    &lt;
  </button>
  <div class="d-flex flex-row row-hl">
    <div class="day p-4 item-hl" *ngFor="let day of daysOfWeek; let i = index">
      <div class="day-name">{{ day }}</div>
      <app-reservation-dayview [day]="i + 1"></app-reservation-dayview>
    </div>
  </div>
  <button class="btn btn-outline-primary change-week ml-3" (click)="nextWeek()">
    &gt;
  </button>
</div>
<div class="add-btn-wrapper">
  <button
    type="button"
    class="btn btn-primary"
    [routerLink]="['/calendar/edit']"
    [queryParams]="{ mode: 'new' }"
    >
    <i class="fa fa-plus"></i> Create Reservation
  </button>
</div>
