<div class="container">
  <!-- INFORMATION ABOUT THE DATE -->
  <div id="info" class="mat-h3" fxLayout="row">
    <div id="filter" fxFlex="33">
      <app-reservation-list-filter></app-reservation-list-filter>
    </div>
    <div id="week-info" fxFlex="33">
      <div>
        {{ this.resService.calculateWeeksAway(this.startingDayOfWeek) }}
      </div>
      <div>
        {{
          this.startingDayOfWeek.getFullYear() +
            '. ' +
            this.startingDayOfWeek.toLocaleString('default', { month: 'long' })
        }}
      </div>
    </div>
    <div fxFlex="33" id="repeating-btn"></div>
  </div>
  <div id="calendar">
    <div *ngFor="let day of daysOfWeek; let i = index" class="days">
      <div class="day-header">
        <div class="mat-h4" style="color: gray;">{{ day }}</div>
        <div class="mat-display-1">{{ this.calculateDate(i) }}</div>
      </div>
      <div class="day-content">
        <app-reservation-dayview [day]="i + 1"></app-reservation-dayview>
      </div>
    </div>
  </div>
  <div class="calendar-controls">
    <button
      mat-fab
      color="primary"
      aria-label="Add New Reservation"
      style="margin-right: 10px;"
      (click)="onPreviousWeek()"
    >
      <span class="material-icons">keyboard_arrow_left</span>
    </button>
    <button
      mat-fab
      color="primary"
      style="margin-right: 10px;"
      aria-label="Add New Reservation"
      (click)="onNextWeek()"
    >
      <span class="material-icons">keyboard_arrow_right</span>
    </button>
    <button
      mat-fab
      color="primary"
      style="margin-right: 10px;"
      aria-label="Add New Reservation"
      [routerLink]="['edit']"
      [queryParams]="{ mode: 'new' }"
    >
      <span class="material-icons">add</span>
    </button>
  </div>
</div>
