.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}
mat-card {
  margin: auto;
  max-width: 40rem;
}
.help-tooltip {
  font-size: 105px !important;
}
mat-form-field {
  width: 45%;
  display: block;
}
mat-card-content {
  padding-top: 1rem;
}
mat-card-actions {
  padding-bottom: 1rem;
}
#submit-btn {
  float: right;
}
@media (max-width: 1500px) {
  mat-form-field {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  mat-form-field {
    width: 90%;
  }
}
.history-icon {
  float: right;
}
