<div class="container">
  <mat-card id="feed">
    <mat-card-title>Latest Posts</mat-card-title>
    <mat-card-content>
      <div fxLayout="column">
        <mat-card class="post-card" fxFlex>
          <div fxLayout="row">
            <div fxFlex="110px">
              <img
                src="https://images.unsplash.com/photo-1526808757982-2d9b9aef7dba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1375&q=80"
                width="100px"
                height="100px"
              />
            </div>
            <div fxFlex="auto">
              <div class="mat-h2">Whatever Title</div>
              <div class="mat-h4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, eligendi!</div>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
