<!-- SIDENAV CONTAINER -->
<mat-sidenav-container>
  <!-- SIDENAV -->
  <mat-sidenav
    #sidenav
    [mode]="screenWidth > 840 ? 'side' : 'over'"
    [opened]="screenWidth > 840"
    class="example-sidenav"
    fixedInViewport="true"
    color="accent"
    style="width: 15rem;"
  >
    <!-- IF USER IS AUTHENTICATED -->
    <!-- USER PROFILE -->
    <div class="user-profile" *ngIf="currentUser">
      <mat-icon id="user-profile-icon">account_circle</mat-icon>
      <div class="mat-subheading-2 user-text">
        Welcome back<br />
        {{ currentUser.name }}
      </div>
    </div>
    <!-- NAVIGATION LIST -->
    <mat-nav-list>
      <div class="top-action">
        <mat-list-item *ngIf="currentUser" [routerLink]="['']">
          <mat-icon matListIcon>home</mat-icon>
          <a matLine>Home</a>
        </mat-list-item>
        <mat-list-item *ngIf="currentUser" [routerLink]="['../calendar/view']">
          <mat-icon matListIcon>calendar_today</mat-icon>
          <a matLine>Reservation Calendar</a>
        </mat-list-item>
        <mat-list-item
          *ngIf="currentUser && currentUser.admin"
          [routerLink]="['../admin/dashboard']"
        >
          <mat-icon matListIcon>work</mat-icon>
          <a matLine>Admin Panel</a>
        </mat-list-item>
        <mat-list-item *ngIf="currentUser" [routerLink]="['']">
          <mat-icon matListIcon>help</mat-icon>
          <a matLine>How does it work?</a>
        </mat-list-item>
        <mat-list-item *ngIf="!currentUser" [routerLink]="['../auth/login']">
          <mat-icon matListIcon>vpn_key</mat-icon>
          <a matLine>Login</a>
        </mat-list-item>
        <mat-list-item [routerLink]="['contact']">
          <mat-icon matListIcon>mail</mat-icon>
          <a matLine>Contact Us</a>
        </mat-list-item>
      </div>
      <!-- BOTTOM  BUTTON -->
      <div class="bottom-action" *ngIf="currentUser">
        <mat-list-item (click)="onLogout()">
          <mat-icon matListIcon>exit_to_app</mat-icon>
          <a matLine>Sign Out</a>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- TOOLBAR -->
    <mat-toolbar color="primary" style="position: fixed; z-index: 9;">
      <div [ngStyle]="{ display: screenWidth > 840 ? 'none' : 'block' }">
        <button type="button" mat-button (click)="sidenav.open()">
          <span class="material-icons">
            menu
          </span>
        </button>
      </div>
      <span>Reservation System</span>
    </mat-toolbar>
    <!-- ROUTER OUTLET -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
