<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled comoponents">
      <p>Dummy Title</p>
      <li>
        <a [routerLink]='[""]'>Home</a>
      </li>
      <li class="active">
        <a [routerLink]='["../calendar/view"]'>Calendar</a>
      </li>
      <li>
        <a [routerLink]='["../admin/dashboard"]'>Admin</a>
      </li>
      <li>
        <a (click)="onLogout()" style="cursor: pointer;">Logout</a>
      </li>
    </ul>
  </nav>
</div>
