.container {
  padding-top: 10%;
}
.register-card {
  max-width: 35rem;
  margin: auto;
  padding-bottom: 5%;
  text-align: center;
}
.register-header {
  padding-top: 5%;
  padding-bottom: 5%;
}
.register-button {
  width: 90%!important;
}
.full-width {
  width: 90%;
  margin: auto;
}
