<mat-list>
  <mat-list-item><strong>Name: </strong> {{ data.user.name }}</mat-list-item>
  <mat-list-item><strong>UID: </strong> {{ data.user.uid }}</mat-list-item>
  <mat-list-item><strong>Email: </strong> {{ data.user.email }}</mat-list-item>
  <mat-list-item><strong>Admin: </strong> {{ data.user.admin }}</mat-list-item>
  <mat-list-item><strong>Disabled: </strong> {{ data.user.disabled }}</mat-list-item>
  <mat-list-item><strong>Registered: </strong> {{ data.user.registered.toLocaleDateString() }}</mat-list-item>
  <mat-list-item><strong>Registered by: </strong> {{ data.user.registeredBy | async }}</mat-list-item>
</mat-list>
<strong></strong>
