.time-available {
  color: green;
} .time-not-available {
  color: red;
} .time-pending {
  color: orange;
}

.container {
  padding-top: 10%;
}
.edit-card {
  margin: auto;
  max-width: 60%;
}
.edit-card-title {
  padding-top: 2%;
  padding-bottom: 2%;
}
mat-form-field {
  font-size: 17px;
  min-width: 50%;
  max-width: 90%
}
