.time-available {
  color: green;
}
.time-not-available {
  color: red;
}
.time-pending {
  color: orange;
}
.container {
  padding-top: 10%;
}
.edit-card {
  margin: auto;
  max-width: 40rem;
}
.edit-card-title {
  padding-top: 2%;
  padding-bottom: 2%;
}
mat-form-field {
  font-size: 17px;
  width: 100%;
  max-width: 20rem;
}

@media screen and (max-height: 600px) {
  .container {
    padding: 1%;
  }
}

#place-selector {
  margin-right: 1rem;
}
