<div class="container">
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <mat-card *ngIf="!loading">
    <mat-card-title>Edit Reservation</mat-card-title>
    <form [formGroup]="editForm" (ngSubmit)="onSubmitForm()">
      <mat-card-content>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        <div formGroupName="details">
          <div formGroupName="full-date">
            <mat-form-field class="datetime-input">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="date" formControlName="date" />
              <mat-datepicker-toggle
                [for]="date"
                matSuffix
              ></mat-datepicker-toggle>
              <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="datetime-input">
              <mat-label>Start Time</mat-label>
              <input
                matInput
                [format]="24"
                readonly
                [ngxTimepicker]="startTime"
                formControlName="start"
              />
              <ngx-material-timepicker-toggle
                [for]="startTime"
                matSuffix
              ></ngx-material-timepicker-toggle>
              <ngx-material-timepicker
                [minutesGap]="5"
                #startTime
              ></ngx-material-timepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Length</mat-label>
              <app-timepicker formControlName="length"></app-timepicker>
            </mat-form-field>
          </div>
          <div *ngIf="!editMode">
            <mat-slide-toggle formControlName="repeat">Repeat weekly</mat-slide-toggle>
          </div>
          <div formGroupName="place">
            <div class="mat-h4">Place</div>
            <mat-checkbox id="place-selector" formControlName="table">
              Table Tennis Table
            </mat-checkbox>
            <mat-checkbox formControlName="court">
              Badminton Court
            </mat-checkbox>
          </div>
        </div>
      </mat-card-content>
      <!-- BUTTONS -->
      <mat-card-actions style="text-align: right;">
        <p class="text-right time-pending" *ngIf="editForm.pending">
          Checking availability...
        </p>
        <p
          class="text-right time-not-available"
          *ngIf="editForm.controls['details'].invalid"
        >
          Time is not available! Please choose another!
        </p>
        <p
          class="text-right time-available"
          *ngIf="editForm.controls['details'].valid"
        >
          Time available!
        </p>
        <button
          mat-flat-button
          color="warn"
          type="button"
          *ngIf="editMode && editedItem.id && !editedItem.deleted"
          style="margin-right: 0.5rem;"
          (click)="onDeleteReservation()"
        >
          <mat-icon>delete</mat-icon>
          Delete Reservation
        </button>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!editForm.valid"
        >
          {{ editMode ? 'Save Changes' : 'Create' }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
