<mat-card
  *ngFor="let res of dailyReservations"
  (click)="
    (res.createdBy === user.uid || user.admin) && onEditReservation(res.id)
  "
  [ngStyle]="{
    cursor: res.createdBy === user.uid || user.admin ? 'pointer' : 'auto',
    'background-color': res.place.court ? '#3f51b5' : '#ff4081'
  }"
>
  <span class="name mat-h3" style="margin-bottom: 0;">{{ res.name }}</span>
  <span class="dot" *ngIf="res.place.court && res.place.table"></span>
  <div class="time mat-h5">
    {{ this.resService.stringifyTime(res.startTime) }} -
    {{ this.resService.stringifyTime(res.endTime) }}
  </div>
</mat-card>
