mat-card {
  box-sizing: border-box;
  width: 9.5rem;
  margin: auto;
  margin-top: 5px;
  color: white;
  text-align: left;
  padding: 10px!important;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #ff4081;
  border-radius: 50%;
  float: right;
}
