<div class="container">
  <mat-card id="main-card">
    <!-- LOADING SPINNER -->
    <app-loading-spinner *ngIf="loading"></app-loading-spinner>
    <!-- CARD TITLE-->
    <mat-card-title>Messaging: {{ contact.topic }} - {{ contact.name }}</mat-card-title>
    <!-- CARD CONTENT -->
    <mat-card-content *ngIf="contact && !loading" id="main-card-content">
      <!-- MESSAGES -->
      <div class="messages">
        <mat-card *ngFor="let message of contact.messages">
          <mat-card-title>
            {{ message.sentBy.name }}
            {{ message.sentBy.admin ? '(Admin)' : null }} -
            {{ message.date | date: 'HH:mm - yyyy.MM.dd' }}
          </mat-card-title>
          <mat-card-content>
            {{ message.message }}
          </mat-card-content>
        </mat-card>
      </div>
      <!-- REPLY FORM -->
      <form [formGroup]="replyForm" (ngSubmit)="onReply()" >
        <mat-form-field>
          <mat-label>Reply</mat-label>
          <textarea
            matInput
            rows="4"
            placeholder="Answer to this contact"
            formControlName="answer"
          ></textarea>
        </mat-form-field>
        <div align="end">
          <button
            type="button"
            mat-raised-button
            class="solved-btn"
            (click)="onMarkAsSolved()"
          >
            {{ contact.closed ? 'Reopen' : 'Mark as solved' }}
          </button>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="replyForm.invalid"
          >
            Send
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
