.container {
  height: 100%;
  width: 100%;
  padding-top: 3%;
}
mat-form-field {
  width: 100%;
}
#main-card {
  margin: auto;
  width: 90%;
  max-height: 80vh;
}
#main-card-content {
  padding-top: 3%;
}
.messages {
  height: 40vh;
  max-height: 40vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.5rem;
}
.messages mat-card {
  margin-bottom: 0.5rem;
}
.messages mat-card:first-child {
  margin-bottom: auto;
}
.solved-btn {
  background-color: #4bb543;
  color: white;
  margin-right: 0.5rem;
}

/* STYLING FOR FIREFOX */
@-moz-document url-prefix() {
  .messages {
    flex-direction: column!important;
  }
}
