.container {
  height: 100%;
  width: 100%;
}
mat-form-field {
  width: 100%;
}
.messages {
  height: 40vh;
  max-height: 40vh;
  overflow-y: auto;
}
mat-card {
  margin-bottom: 0.5rem;
}
.solved-btn {
  background-color: #4BB543;
  color: white;
  margin-right: 0.5rem;
}
