<div class="container">
  <div *ngIf="message">
    <div class="original-message">
      <mat-card>
        <mat-card-title
          >{{ message.topic }} - {{ message.name }} ({{
            message.date.toDate() | date: 'hh:mm - yyyy.MM.dd'
          }})</mat-card-title
        >
        <mat-card-content>
          {{ message.message }}
        </mat-card-content>
      </mat-card>
    </div>
    <div [formGroup]="replyForm" (ngSubmit)="onReply()">
      <mat-form-field>
        <mat-label>Reply</mat-label>
        <textarea matInput rows="4" placeholder="Answer to this message"></textarea>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Send</button>
      <button type="button" mat-raised-button class="solved-btn">Mark as solved</button>
    </div>
  </div>
</div>
