<!-- LOADING SPINNER -->
<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<!-- TABLE -->
<mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <!-- NAME COLUMN -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.name }}</mat-cell>
  </ng-container>

  <!-- EMAIL COLUMN -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.email }}</mat-cell>
  </ng-container>

  <!-- ADMIN COLUMN -->
  <ng-container matColumnDef="admin">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Admin</mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.admin }}</mat-cell>
  </ng-container>

  <!-- DISABLED COLUMN -->
  <ng-container matColumnDef="disabled">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      >Disabled</mat-header-cell
    >
    <mat-cell *matCellDef="let user"> {{ user.disabled }}</mat-cell>
  </ng-container>

  <!-- UID COLUMN -->
  <ng-container matColumnDef="uid">
    <mat-header-cell *matHeaderCellDef>UID</mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.uid }}</mat-cell>
  </ng-container>

  <!-- ACTIONS COLUMN -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <!-- BUTTONS -->
      <button mat-icon-button (click)="onOpenEditModal(user)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onOpenInfoModal(user)">
        <mat-icon>account_box</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="otherActions">
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- DROPDOWN MENU -->
      <mat-menu #otherActions="matMenu">
        <button mat-menu-item (click)="onDisableUser(user)">
          {{ user.disabled ? 'Enable Account' : 'Disable Account' }}
        </button>
        <button mat-menu-item (click)="onDeleteUser(user)">
          Delete Account
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let user; columns: displayedColumns"
    [style.backgroundColor]="user.disabled ? 'rgba(244, 67, 54, 0.7)' : ''"
  ></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"> </mat-paginator>

<!-- LIST OF USERS
<table class="table table-hover">
  <thead>
    <mat-cell>
      <mat-header-cell>Name</mat-header-cell>
      <mat-header-cell>Email</mat-header-cell>
      <mat-header-cell>Admin</mat-header-cell>
      <mat-header-cell>Disabled</mat-header-cell>
      <mat-header-cell>UID</mat-header-cell>
      <mat-header-cell>Actions</mat-header-cell>
    </mat-cell>
  </thead>
  <tbody *ngIf="!loading">
    <mat-cell
      *ngFor="let user of users$ | async"
      [ngClass]="{ 'table-danger': user.disabled }"
    >
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.admin }}</td>
      <td>{{ user.disabled }}</td>
      <td>{{ user.uid }}</td>
      <td>
        <span>
          <i
            class="fa fa-edit"
            (click)="onOpenEditModal(user)"
            style="cursor: pointer;"
          ></i>
          <i
            class="fa fa-address-card ml-3"
            (click)="onOpenInfoModal(user)"
            style="cursor: pointer;"
          ></i>
          <div ngbDropdown class="d-inline-block">
            <i
              class="fa fa-ellipsis-v ml-3 dropdown-toggle"
              id="dropdown1"
              ngbDropdownToggle
            ></i>
            <div ngbDropdownMenu aria-labelledby="dropdown1">
              <a ngbDropdownItem (click)="onDisableUser(user)" style="cursor: pointer;">
                {{ user.disabled ? 'Enable Account' : 'Disable Account' }}
              </a>
              <a ngbDropdownItem (click)="onDeleteUser(user)" style="cursor: pointer;">Delete Account</a>
            </div>
          </div>
        </span>
      </td>
    </mat-cell>
  </tbody>
</table> -->
<!-- LOADING SPINNER -->
<div class="d-flex justify-content-center" *ngIf="loading">
  <div
    class="spinner-border text-primary"
    role="status"
    style="height: 5rem; width: 5rem;"
  >
    <span class="sr-only">Loading...</span>
  </div>
</div>
